.redes {
  padding-top: 3rem;
  font-size: 12px;
}

.icon-instagram {
  font-size:30px;
  /* background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

